%a{:name => 'accounts'}
  %h2 create new account

%form#create-account{:action => '/admin', :method => 'post'}
  %input{:type => 'hidden', :name => 'task', :value => 'new-account'}
  %input{:name => 'id', :value =>"account id"}
  %input{:name => 'description', :value =>"account description"}
  %input{:name => 'report-email', :value =>"report e-mail address"}
  %input{:type => 'submit', :value => "Create Account"}

%h2 existing accounts

- if @accounts.any?
  %table
    %tr
      %th id
      %th description
      %th report e-mail address
      %th modify
      %th delete

    - @accounts.each do |a|
      %tr
        %td&= a.id
        %td&= a.description
        %td&= a.report_email
        %td 
          %a{:href => "/admin/accounts/#{a.id}"}
            modify account
        %td
          - unless a.id == Daitss::Archive::SYSTEM_ACCOUNT_ID
            %form{:action => "/admin", :method => 'post'}
              %input{:type => 'hidden', :name => 'task', :value => 'delete-account'}
              %input{:type => 'hidden', :name => 'id', :value => a.id }
              %input{:type => 'submit', :value => "Delete"}

