%h2 
  modify user #{@the_user.id} (#{@the_user.class})

%h3
  user details

%form#modify-user{:action => '/admin', :method => 'POST'}
  %input{:type => 'hidden', :name => 'task', :value => 'modify-user'}

  %table
    %tr
      %th permissions
      %td
        - if @the_user.class == Contact
          %input{:name => 'disseminate_perm', :type => 'checkbox', :checked => @the_user.permissions.include?(:disseminate)} disseminate
          %input{:name => 'withdraw_perm', :type => 'checkbox', :checked => @the_user.permissions.include?(:withdraw)} withdraw
          %input{:name => 'peek_perm', :type => 'checkbox', :checked => @the_user.permissions.include?(:peek)} peek
          %input{:name => 'submit_perm', :type => 'checkbox', :checked => @the_user.permissions.include?(:submit)} submit
          %input{:name => 'report_perm', :type => 'checkbox', :checked => @the_user.permissions.include?(:report)} report
        - else
          N/A

    %tr
      %th first
      %td
        %input{:name => 'first_name', :value => @the_user.first_name}

    %tr
      %th last
      %td
        %input{:name => 'last_name', :value => @the_user.last_name}

    %tr
      %th email
      %td
        %input{:name => 'email', :value => @the_user.email }

    %tr
      %th phone
      %td
        %input{:name => 'phone', :value => @the_user.phone }

    %tr
      %th address
      %td
        %textarea{:name => 'address'}
          #{@the_user.address}

  %input{:type => 'hidden', :name => 'id', :value => @the_user.id}
  %input{:type => 'hidden', :name => 'type', :value => @the_user.class == Operator ? "operator" : "contact" }
  %input{:type => 'submit', :value => 'modify user'}


%h3
  change password

%form#change-user-password{:action => '/admin', :method => 'POST'}
  %table
    %tr
      %th
        old password

      %th
        new password

      %th
        confirm new password
  
  
    %tr
      %td
        %input{:type => 'password', :name => 'old_password'}
      %td
        %input{:type => 'password', :name => 'new_password'}
      %td
        %input{:type => 'password', :name => 'new_password_confirm'}
  
  %input{:type => 'hidden', :name => 'id', :value => @the_user.id}
  %input{:type => 'hidden', :name => 'task', :value => 'change-user-password'}
  %input{:type => 'submit', :value => 'change password'}

%br

- if @the_user.deleted?
  %h3 
    Reactivate User
  %form{:action => '/admin', :method => 'POST'}
    %table
      %tr
        %td
          %input{:type => 'hidden', :name => 'task', :value => 'reactivate-user'}
          %input{:type => 'hidden', :name => 'id', :value => @the_user.id }
          %input{:type => 'submit', :value => "reactivate user"}
          
%a{:href => "/admin/users"}
  back to users

