%h1 admin

%h2 stash bins

%form{:action => '/admin', :method => 'post'}
  %input{:name => 'new-stash-bin'}
  %input{:type => 'submit', :value => "Create Stash Bin"}

%table
  %tr
    %th name
    %th wips
    %th &nbsp;
  - @bins.each do |bin|
    %th
      %td= bin.name
      %td= bin.wips.size
      %td
        %form{:action => '/admin', :method => 'post'}
          %input{:type => 'hidden', :name => 'delete-stash-bin[]', :value => bin.name }
          %input{:type => 'submit', :value => "Delete"}
