%h1 admin

%ul
  %li
    %a{:href => "/admin/accounts"} accounts
  %li
    %a{:href => "/admin/projects"} projects
  %li
    %a{:href => "/admin/users"} users

- case @sub
- when "accounts"
  = partial :admin_accounts
- when "projects"
  = partial :admin_projects
- when "users"
  = partial :admin_users
- else
  not found



