%h1 admin

%h2 GUI Submission
%form{:action => '/toggle_submit', :method => 'POST'}
  %table
    %tr
      %th Status
      %th Toggle
    %tr
      %td
        - if settings.allow_submissions
          "Submissions Enabled"
        - else
          "Submissions Disabled"
      %td
        %input{:type => 'submit', :value => 'toggle'}

%ul
  %li
    %a{:href => "/admin/accounts"} accounts
  %li
    %a{:href => "/admin/projects"} projects
  %li
    %a{:href => "/admin/users"} users

- case @sub
- when "accounts"
  = partial :admin_accounts
- when "projects"
  = partial :admin_projects
- when "users"
  = partial :admin_users
- else
  not found



