%table
  %tr
    %th type
    %th time
    %th notes
    %th agent

  - events.each do |e|
    %tr
      %td= e.polite_name
      %td= e.timestamp.strftime("%a %b %d %Y %I:%M:%S %p")
      %td
        %pre= e.notes
      %td= e.agent.id
