%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type =>"text/css", :media =>"screen, projection"}

    %title Workspace Monitor (new boss)
  %body
    #content
      #navigation
        %a.overview{ :href => '/' } overview
        = ":"
        %a{ :href => '/submit' } submit
        = ":"
        %a{ :href => '/packages' } packages
        = ":"
        %a{ :href => '/workspace' } workspace
        %hr
      #non-navigationx
        = yield
