%html
  %head
    %link{:rel => "stylesheet", :href => "/jquery/css/eggplant/jquery-ui-1.8rc2.custom.css", :type =>"text/css", :media =>"screen, projection"}
    %script{:type => "text/javascript", :src => "/jquery/js/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/jquery/js/jquery-ui-1.8rc2.custom.min.js"}
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type =>"text/css", :media =>"screen, projection"}

    %title Workspace Monitor (new boss)
  %body
    #content= yield
