%table
  %tr
    %th package
    %th account
    %th activity
    %th time
  - packages.each do |p|
    %tr
      %td
        %a{:href => "/package/#{p.id}"}= p.id
      %td= p.project.account.code rescue "N/A"
      - latest_event = p.operations_events.last
      %td= latest_event.event_name
      %td= latest_event.timestamp.pragma
