#submit
  %h1 submit

  %form{:action => '/package', :method => 'POST', :enctype => 'multipart/form-data'}
    %input{:type => 'file', :name => 'sip'}
    %input{:type => 'submit', :value => 'Submit'}
  %p
    packages must be in
    %strong
      %em tar
    or
    %strong
      %em zip
    format

#search
  %h1 search

  %form
    %input#search{:type => 'text', :name => 'search', :value => @query}
    %input{:type => 'submit', :value => "Search"}

    %p
      %strong
        %em aip
      or
      %strong
        %em sip
      separated by spaces.

%hr/

%h1
  - if @query
    results
    (
    = @packages.size
    )

  - else
    latest activity

- unless @packages.empty?
  = partial :package_table, :locals => {:packages => @packages }
