#forms
  #submit
    %h1 submit

    %form{:action => '/package', :method => 'POST', :enctype => 'multipart/form-data'}
      %table
        %tr
          %th File
          %td
            %input{:type => 'file', :name => 'sip'}

        %tr
          %th Batch
          %td
            %input{:name => 'batch_id'}

        %tr
          %th Note
          %td
            %textarea{:name => 'note'}


      %input{:type => 'submit', :value => 'Submit'}
    %p
      packages must be in
      %strong
        %em tar
      or
      %strong
        %em zip
      format

  #search
    %h1 search

    %form
      %table
        %tr
          %th package
          %td
            %input#search{:type => 'text', :name => 'search', :value => @query}
        %tr
          %th sip
          %td
            %input#search{:type => 'text', :name => 'search', :value => @query}
      %input{:type => 'submit', :value => "Search"}

    %p
      %strong
        %em aip
      or
      %strong
        %em sip
      separated by spaces.

%hr/

#results
  %h1
    - if @query
      results
      (
      = @packages.size
      )

    - else
      latest activity

  - unless @packages.empty?
    = partial :package_table, :locals => {:packages => @packages }

  %form{:action => '/batches', :method => 'post'}
    %input{:name => 'name', :value => "batch name"}
    %input{:type => 'hidden', :name => 'packages', :value => "#{@packages.inject(''){|str, p| str + " " + p.id}}"}
    %input{:type => 'submit', :value => 'Save as Batch'}
