#request
  %h1
    submit a package request
  %form{:action => '/request', :method => 'POST'}
    %input{:type => 'text', :name=>'ieid', :value=>'ieid'}
    %br
    %select{:name=>'type'}
      %option= 'disseminate'
      %option= 'withdraw'
      %option= 'peek'
    %br
    %input{:type => 'submit', :value => 'Submit'}
  %p 
    This will soon be merged into the package view
 
