#stashspace
  %h1
    stash bins
    (
    = @bins.size
    )

  %table
    - @bins.all.each do |bin|
      %tr
        %td
          %a{:href => "/stashspace/#{bin.url_name}" }
            = bin.name
        %td= bin.wips.size
