!white = #FFFFFF
!black = #000000

!light_gray = #E4E9E4
!dark_gray=  #222020

!e_orange = #F58123
!e_blue = #0097DB
!e_blue2 = #0084A9
!e_blue3 = #2baae2
!e_gray = #364046
!e_red = #dc2628

body
  margin: 0px
  font-family: "Helvetica", sans-serif
  background-color = !dark_gray

h1, h2, h3
  color = !e_blue2
  font-weight: 400
  padding: 5px

a
  color = !e_blue
  text-decoration: none
  font-weight: 400
  &:hover
    color = !e_orange
    text-decoration: underline


#navigation
  text-align: center
  margin-left: 20px
  margin-right: 20px
  color = !e_gray
  padding: 5px
  font:
    size: 2em
  a
    color = !e_blue
  a.overview
    color = !e_red

#content
  margin-top: 0px
  margin-bottom: 0px
  margin-left: 30px
  margin-right: 30px
  padding:
    top: 0px
    bottom: 5px
    left: 5px
    right: 5px
  background-color = !white

#summary, #workspace, #submit, #wip
  margin-left: 20%
  margin-right: 20%

#summary
  table
    width: 80%
    th
      width: 20%
      color = !e_gray
      text-align: left
    td
      width: 40%
      text-align: right

#wip
  table
    width: 100%
    th
      width: 60%
      color = !e_gray
      text-align: left
    td
      width: 40%
      text-align: left
  table.progress td
    text-align: right

#workspace
  table
    width: 100%
    td
      text-align: left
      padding: 5px
    tr:nth-child(even)
      background-color = !light_gray


hr
  color = !light_gray
  background-color = !light_gray
  height: 5px
  border: 0
