//colors
!red = #FF3C2A
!disabled_red = #FF9E95
!highlighted_red = #F5A995 
!white = #FFFFFF
!black = #000000
!light_gray = #E4E9E4
!dark_gray=  #222020

!light_blue = #1D4C7A
!dark_blue = #0B3E6F


body
  margin: 0px
  font-family: "Helvetica", sans-serif
  background-color = !dark_gray

a
  color = !dark_blue
  text-decoration: none
  font-weight: bold
  &:visited
    color = !dark_blue
  &:hover
    color = !light_blue
    text-decoration: underline


#content
  margin-top: 0px
  margin-bottom: 0px
  margin-left: 30px
  margin-right: 30px
  padding: 5px
  background-color = !white

.value
  font-family: monospace

#commands
  padding: 5px

h1,h2,h3
  padding: 5px

hr
  color = !light_gray
  background-color = !light_gray
  height: 5px
  border: 0

table#wips
  td.task
    font-weight: bold
