- case @wip.task
- when :ingest, :disseminate
  %table.progress
    %tr
      %th step
      %th seconds
    - @wip.steps_descending.each do |name,s|
      %tr
        %td= name
        %td= s[:duration]

- else
  %p unknown progress
