#snafu
  %h2
    snafu

  %table
    %tr
      %th time
      %td= @wip.process[:time]
    %tr
      %th message
      %td#snafu-message= @wip.process[:message]
    %tr
      %th trace
      %td
        %pre= @wip.process[:backtrace].join "\n"
