#snafu
  - time, message, trace = @wip.snafu.split "\n\n"
  %h2
    snafu

  %table
    %tr
      %th time
      %td= DateTime.parse(time).pragma
    %tr
      %th message
      %td= message
    %tr
      %th stacktrace
      %td
        %pre= trace
        -#%a{:href => "/workspace/#{@wip.id}/snafu"} stack trace
