%link{:href => "/js/workspace.js", :rel => "stylesheet"}
%h1
  workspace:
  %span.value
    = File.expand_path settings.workspace.path

#commands.ui-widget-content.ui-corner-all{:style => 'display:none'}
  %button#start start all
  %button#stop stop all
  &nbsp;
  %button#unsnafu unsnafu all

#update-form
  %form{:action => '.', :method => 'post'}

    %input#state-start{:type => 'radio', :name => 'task', :value => 'start'}
    %label{:for => 'state-start'} start all
    %br/
    %input#state-stop{:type => 'radio', :name => 'task', :value => 'stop'}
    %label{:for => 'state-stop'} stop all
    %br/
    %input#state-unsnafu{:type => 'radio', :name => 'task', :value => 'unsnafu'}
    %label{:for => 'state-unsnafu'} unsnafu all
    %br/
    %input{:type => 'submit', :value => "Update"}

  %hr/

%h2 current jobs
%table#wips
  - settings.workspace.each do |wip|
    %tr
      %td.task= wip.task
      %td.value
        %a{:href => wip.id}
          = wip.uri
      %td.state= wip.state
