<mods xmlns="http://www.loc.gov/mods/v3">

<% if metadata.has_key? 'dmd-title' %>
  <titleInfo>
  <title><%= ERB::Util::h(metadata['dmd-title']) %></title>
  </titleInfo>
<% end %>

<% if metadata.has_key? 'dmd-volume' %>
  <part>
  <detail type='volume'>
  <number><%= ERB::Util::h(metadata['dmd-volume']) %></number>
  </detail>
  </part>
<% end %>

<% if metadata.has_key? 'dmd-issue' %>
  <part>
  <detail type='issue'>
  <number><%= ERB::Util::h(metadata['dmd-issue']) %></number>
  </detail>
  </part>
<% end %>

<% if metadata.has_key? 'dmd-entity-id' %>
  <identifier type='entity id'><%= ERB::Util::h(metadata['dmd-entity-id']) %></identifier>
<% end %>

</mods>
