.login {
  font-size: 18pt;

  .field {
    padding: 1ex;

    label {
      padding: 0.5ex;
      display: inline-block;
      text-align: right;
      width: 10ex;
    }

  }

  input {
    font-size: inherit;
  }
}
