@import theme

.holdings, .search, .filter
  width: 100%
  margin: 0 auto
  text-align: center
  margin-top: 2em
  margin-bottom: 2em

.holdings
  div
    display: inline-block
    width: auto
    margin: 20px
    background-color: $dark_gray
    color: white

    .figure
      display: block
      font-size: 48pt
      font-weight: bold
      text-align: center

    .label
      display: block
      font-size: 14pt
      font-weight: medium
      text-align: center

.search
  text-align: center

  input
    font-size: 24pt

.filter
  div
    display: inline-block
    width: auto
    margin: 5px

    div
      display: block

      label
        width: 7ex
      input[type='submit']
        font-size: 24pt
