@import 'theme'

.users
  font-size: 12pt

  .field
    padding: 1ex

    label
      display: inline-block
      text-align: right
      width: 15ex

    input
      padding: 0.5ex
      font-size: inherit

ul.users
  list-style-type: none
  li.user
    color:red
