@import 'theme'

.user

  .icon
    display: inline-block

  .profile
    display: inline-block

    .account
      font-weight: bold
      font-size: 16pt

.users
  ul.index
    .icon
      width: 40px
      height: 40px

    .id
      width: 20ex
    .name
      width: 20ex
