%h1 add a log entry

%form{:action => '/log', :method => 'POST'}
  %textarea{:name => 'message'}
  %br
  %br
  %input{:type => 'submit', :value => 'Update'}

%table
  %tr
    %th time
    %th operator
    %th message
  - @entries.each do |e|
    %tr
      %td= e.timestamp
      %td TODO
      %td= e.message
