%h1 submit a package

%form{:action => '/package', :method => 'POST', :enctype => 'multipart/form-data'}
  %input{:type => 'file', :name => 'sip'}
  %br
  %br
  %input{:type => 'submit', :value => 'Submit'}
%p
  packages must be in
  %strong
    %em tar
  or
  %strong
    %em zip
  format
