<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/"
      xmlns:xlink="http://www.w3.org/1999/xlink"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.loc.gov/METS/ http://www.loc.gov/standards/mets/mets.xsd
                          info:lc/xmlns/premis-v2 http://www.loc.gov/standards/premis/premis.xsd"      
      OBJID="<%= obj_id %>">

  <amdSec>
	</amdSec>
	
  <fileSec>
    <fileGrp>
    </fileGrp>
  </fileSec>

  <structMap>
    <div>
    </div>
  </structMap>

</mets>