<mets xmlns="http://www.loc.gov/METS/"
      xmlns:xlink="http://www.w3.org/1999/xlink"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.loc.gov/METS/ http://www.loc.gov/standards/mets/mets.xsd"
      OBJID="<%= @obj_id %>">

  <amdSec>
	</amdSec>
	
  <fileSec>
    <fileGrp>
    </fileGrp>
  </fileSec>

  <structMap>
    <div>
    </div>
  </structMap>

</mets>