.actions

  =link_to :action => :new do
    add account
    &rarr;

%ul.index
  - @accounts.each do |a|
    %li
      .account_id= link_to a.id, account_path(a)
      .account_description= a.description
